@import '../../../styles/breakpoints';

.titlesSlide{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    li{
        font-size: 1.17rem;
        font-weight: 400;
        color: hsl(229, 8%, 60%);
        padding: 1.1rem 1.5rem;
        border-bottom: 1px solid hsl(229, 8%, 60%);
        cursor: pointer;
        text-align: center;
      
        &:hover{
            color: hsl(0, 94%, 66%);
        }
  
        @media(max-width: 650px) {
            width: 100%;  
            text-align: center;       
        } 
    } 
}

.activateClassLi{
    color: black !important;
    border-bottom: 2px solid hsl(0, 94%, 66%) !important;
}

.displaySlide{
    position: relative;
    margin: 4rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    
    .img {
        max-width: 450px;
        max-height: 310px;
        margin-left: 5rem;
        
        @media(max-width: 1030px) {
            width: 366px;
            height: 310px;
        }

        @media(max-width: $tablet) {
            width: 350px;
            height: 280px;       
        } 

        @media(max-width: $mobile-sm) {
            width: 280px;
            height: 240px;
        } 
    }

    p{
        font-size: 1.1rem;
    }

    @media(max-width: $tablet) {
        flex-wrap: wrap;  
    } 
}

.descricao{
    max-width: 415px;
    margin-right: 10rem;
    padding-top: 1rem;

    @media(max-width: 1030px) {
        text-align: end;
        max-width: 350px;
        margin-right: 5rem;
    }

    @media(max-width: $tablet) {
        margin-top: 8rem;
        max-width: 460px;
        text-align: center;
        margin-right: 0;     
    } 

    @media(max-width: $mobile-sm) {
        padding: 0 0.7rem;    
    } 
}

.imagem{
     display: flex;
     justify-content: flex-start;
     overflow: hidden;
     flex-grow: 1;
     height: 100%;
 }

 .bgBlue{
     background-color:  hsl(231, 69%, 60%);
     width: 500px;
     height: 280px;
     border-bottom-right-radius: 15rem;
     position: absolute;  
     z-index: -2;
     top: 20%;  
     
     @media(max-width: 1030px) {
         width: 488px;
         height: 232px;
     }
     
    @media(max-width: $tablet) {
       height: 198px;     
    } 

    @media(max-width: $mobile-sm) {
        width: 390px;
        height: 170px;
    } 
 }